* {
  margin: 0;
  border: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.link{
  color: #1069EF;
  padding: 0;
  background-color: transparent;
  text-decoration: #1069EF 1px solid;
}

.input-text{
  padding: 7px;
  height: 20px;
  background-color: #D9D9D9;
}

.separator{
  width: 150px;
  height: 1px;
  background-color: gray;
  margin: 30px auto 25px auto;
}

.outstanding-logo{
  position: absolute;
  top: 0;
  margin-top: 10px;
}