  .app-margin{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  
  .app-container{
    height: 95%;
    width: 100vw;
    max-width: 1500px;
    display: flex;
  }
  
  .box1{
    border-right: solid 1px #aaa;
    width: 35%;
  }
  
  .box2{
    width: 65%;
  }
  
  @media (max-width: 1545px) {
    .app-container{
      height: 100%;
      max-width: none;
      width: 100vw;
    }
  }


  @media (max-width: 850px) {
    .app-container{
      height: 95%;
      width: 70%;
    }
  
    .box1{
      width: 100%;
    }
    
    .box2{
      width: 100%;
    }
  }
  
  @media (max-width: 550px) {
    .app-container{
      width: 85%;
    }
  }
  
  @media (max-width: 450px) {
    .app-container{
      height: 100%;
      width: 100%;
    }
  }