  .app-margin{
    display: flex;
    height: calc(var(--real-vh) * 100);
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }
  
  .app-container{
    height: 95%;
    width: 100vw;
    max-width: 1500px;
    display: flex;
  }
  
  .box1{
    border-right: solid 1px #aaa;
    width: 35%;
  }
  
  .box2{
    width: 65%;
  }

  .home-box1-loading{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 524.5px;
    position: absolute;
    align-items: center;
    background: white;
    z-index: 100;
  }

  .home-box2-loading{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 975px;
    position: absolute;
    align-items: center;
    background: white;
    z-index: 100;
  }

  .home-box2-loading-w-850{
    width: 70% !important;
  }
  
  @media (max-width: 1545px) {
    .app-container{
      height: 100%;
      max-width: none;
      width: 100vw;
    }

    .home-box1-loading{
      width: calc(35% - 1px);
      height: 100%;
    }

    .home-box2-loading{
      width: calc(65% - 1px);
      height: 100%;
    }
  }


  @media (max-width: 850px) {
    .app-container{
      height: 95%;
      width: 70%;
    }
    
    .home-box1-loading{
      width: 70%;
      height: 95%;
    }

    .home-box2-loading{
      width: 70%;
      height: 95%;
    }

    .box1{
      width: 100%;
      border-right: none;
    }
    
    .box2{
      width: 100%;
    }
  }
  
  @media (max-width: 550px) {
    .app-container{
      width: 85%;
    }

    .home-box1-loading{
      width: 85%;
      height: 95%;
    }

    .home-box2-loading{
      width: 85%;
      height: 95%;
    }
  }
  
  @media (max-width: 450px) {
    .app-container{
      height: 100%;
      width: 100%;
    }
    .home-box1-loading{
      width: 100%;
      height: 100%;
    }

    .home-box2-loading{
      width: 100%;
      height: 100%;
    }
  }