.sing-in-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sing-in-form-err-aclaration{
  margin: 15px 0 0 0 !important;
}

.user-image-selector{
  width: 110px;
  margin: 18px 0 0 0;
  outline: 1px solid #dfdfdf;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 250px;
  margin: 18px 0 0 0;
}

.image-selector-buttons{
  margin: 10px auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.sing-in-image-selector{
  height: 35px;
  width: 90px;
  display: block;
}

.sing-in-image-selector::before{
  content: "Change file";
  position: relative;
  font-size: small;
  top: 25%;
}

.sing-in-image-selector input{
  position: relative;
  top: -50%;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.image-selector-instructions{
  font-size: small;
  margin-bottom: 10px;
  color: rgb(78, 78, 78);
}

.sing-in-description{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.sing-in-page{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sing-in-account-data{
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.sing-in-account-data label:first-of-type{
  margin: 0 0 8px 0;
}

.sing-in-account-data label{
  margin: 15px 0 8px 0;
}

.sing-in-account-data input:last-of-type{
  margin: 20px 0 10px 0;
  padding: 10px 0;
}

.log-in-link{
  margin: 10px auto 0 auto;
}

@media (max-height: 700px){
  .sing-in-container{
    display: flex;
  }

  .sing-in-title {
    margin-top: 100px;
  }

  .sing-in-page {
    justify-content: flex-start;
  }

  .sing-in-account-data{
    margin-bottom: 100px;
  }
}

.sing-in-description-container{
  width: 250px;
  margin: auto;
}

.sing-in-description-container input{
  width: calc(100% - 18px);
}