.added-user-container{
    width: 15%;
    transition: all .2s;
}

.added-user-container:hover{
    background-color: #00000022;
}

.added-user-container img{
    width: 100%;
}

.added-user-container p{
    text-align: center;
    position: relative;
    top: -10px;
}