.added-user-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 99px;
    width: 84px;
    padding: 8px;
    margin: 2px;
}

.added-user-container-curtain-remove{
    transition: all .2s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 99px;
    width: 84px;
    padding: 7px 7px 7px 8px;
    margin: 2px;
    background-color: #0c0c0c36;
    opacity: 0;
}

.added-user-container-curtain-remove:hover{
    opacity: 100%;
}

.added-user-close-continer{
    height: 100%;
    width: 100%; 
}

.added-user-close{
    position: absolute;
    height: 62px;
    width: 62px;
    margin: auto;
    border-radius: 1000px;
}

.added-user-container p{
    text-align: center;
    margin-top: 5px;
}

.added-user-chat-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}