.confirmation-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0002;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.confirmation-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px 0;
    max-width: 450px;
    width: 80vw;
    border-radius: 25px;
}

.confirmation-container p{
    font-size: large;
    padding: 0 10px 15px 10px;
    text-align: center;
}

.confirmation-options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-end
}

.confirmation-options button{
    font-size: medium;
    padding: 6px 50px;
    margin-top: 22px;
    margin: 0 15px;
    background-color: #ddd;
    border-radius: 2px;
    width: 125px;
    margin-bottom: 10px !important;
}

.confirmation-options-main{
    background-color: #04bb2b !important;
    margin-bottom: 0 !important;
    color: #fff;
}