.fileSelector-close-panel{
    background-color: #0000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.file-selector-option-container{
    box-shadow: 0 0 5px .5px #555;
    background-color: #fff;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 100px;
    margin: 15px 15px;
    transition: all 100ms;
}

.file-selector-option-container img{
    width: 80%;
    position: relative;
    top: 1px;
}

.file-selector-option-container:hover{
    background-color: #f9f9f9;
    box-shadow: 0 0 3px .5px #555;
}


@keyframes emoji1 {
    0%{
        transform: rotateY(0deg);
    }
    16.6%{
        transform: rotateY(0deg);/* off */
    }
    26.6%{
        transform: rotateY(90deg);
    }
    90%{
        transform: rotateY(90deg);/* on */
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes emoji2 {
    0%{
        transform: rotateY(90deg);
    }
    26.6%{
        transform: rotateY(90deg); /* on */
    }
    36.6%{
        transform: rotateY(0deg);
    }
    80%{
        transform: rotateY(0deg);/* off */
    }
    90%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}

.FileSelector-emojis{
    display: flex;
    transform:translateX(-10.5px) translateY(-2.5px);
}

.FileSelector-emoji{
    width: 38px;
    margin: auto;
    padding-top: 4px;
}

.FileSelector-emoji1{
    animation-name: emoji1;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    position: relative;
    left: calc(35%);
}
.FileSelector-emoji2{
    animation-name: emoji2;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    position: relative;
    left: calc(-35%);
}