.chat-option-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px #aaa;
}

.chat-option-bar{
    width: 100%;
    min-height: 55px;
    color: #fff;
    background-color: #3B31AE;
    display: flex;
    align-items: center;
}

.chat-option-outstanding-logo{
    margin: auto;
}

.chat-option-go-back-arrow{
    width: 30px;
    filter: invert();
    display: flex;
    align-items: center;
    position: absolute;
}

.user-storage{
    font-size: small;
    color: #999;
    margin: 10px 0 5px 0;
}

.chat-options-form-container{
    margin: auto;
    width:  60%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chat-options-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat-options-form-changes-buttons{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.chat-options-form-changes-buttons input{
    width: 120px;
    height: 30px;
    margin: 0 5px;
}

.chat-options-link{
    display: flex;
    justify-content: center;
}

.chat-option-go-back-arrow img{
    width: 100%;
    margin-left: 10px;
}

.chat-options-profile{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chat-options-profile-photo{
    width: 160px;
}

.chat-options-container p{
    margin: 20px 0 10px 0;
}

.chat-option-bar-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chat-option-bar-people-container{
    width: 90%;
    margin-top: 20px;
    padding: 10px;
    background-color: #999;
}

.chat-option-bar-delete-message{
    margin-top: 10px;
    color: #DC2626;
    padding: 10px 20px;
    border: 1px solid #DC2626;
    background-color: #fff;
    transition: all .2s;
}

.chat-option-bar-delete-message:hover{
    background-color: #eee;
}