.logo{
    max-height: 55px;
    font-size:  clamp(12px, 1.5vw, 17px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.TaskBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-pair{
    margin: 0 5px;
    display: flex;
}

.buttons-pair{
    margin: 0 5px;
    display: flex;
}

.chats-button{
    height: 32px;
    width: 32px;
    
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-button:hover{
    background-color: #e5e5e5;
}

.chats-icon{
    width: 100%;
    height: 100%;
}

.button{
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 28px;
    height: 28px;
}

.chats-box{
    height: 100%;
}

.bar{
    background-color: #3B31AE;
    width: 100%;
    padding-bottom: 5px;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chats{
    background-color: #FFFFFF;
    height: calc(100% - 102px);
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}