.group-option-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-option-bar{
    width: 100%;
    min-height: 55px;
    color: #fff;
    background-color: #3B31AE;
    display: flex;
    align-items: center;
}

.group-option-outstanding-logo{
    margin: auto;
}

.group-option-go-back-arrow{
    width: 30px;
    filter: invert();
    display: flex;
    align-items: center;
    position: absolute;
}

.user-storage{
    font-size: small;
    color: #999;
    margin: 10px 0 5px 0;
}

.group-options-form-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.group-options-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.group-options-form-changes-buttons{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.group-options-form-changes-buttons input{
    width: 120px;
    height: 30px;
    margin: 0 5px;
}

.group-options-link{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.group-option-go-back-arrow img{
    width: 100%;
    margin-left: 10px;
}

.group-options-profile{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.group-options-profile-photo{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 100%;
    object-fit: cover;
}

.group-options-profile-data{
    max-width: 250px;
    margin-left: 15px;
}

.group-options-container p{
    margin: 20px 0 10px 0;
}

.group-options-bar-people-container{
    width: 75%;
    margin-top: 20px;
    padding: 10px;
    background-color: #999;
    margin-bottom: 30px;
}

.group-input-text{
    width: 350px;
}