.user-option-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-right: solid 1px #aaa;
    display: flex;
    flex-direction: column;
}

.user-option-bar{
    width: 100%;
    min-height: 55px;
    color: #fff;
    background-color: #3B31AE;
    display: flex;
    align-items: center;
}

.user-option-outstanding-logo{
    margin: auto;
}

.user-storage{
    font-size: small;
    color: #999;
    margin: 10px 0 5px 0;
}

.user-options-form-container{
    margin: 0 auto;
    width:  60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.user-options-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-options-form-changes-buttons{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.user-options-form-changes-buttons input{
    width: 120px;
    height: 30px;
    margin: 0 5px;
    transition: .2s;
}

.user-options-link{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 5px;
}

.user-options-profile-photo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.user-options-container p{
    margin: 20px 0 10px 0;
}

.user-options-image-selector{
    width: 110px;
    margin: 18px 0 0 0;
    outline: 1px solid #dfdfdf;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 250px;
    margin: 18px 0 0 0;
  }